body{
    background-color: black;
}
header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    padding: 17px 0px 25px;
}
fieldset{
    text-align: center;
    display:block;
    margin-bottom: 12px;
}
form{
    margin: 20px 15% 15px;
    text-align: center;
    background-color: rgb(5, 143, 132);
    padding: 20px 10% 50px;
    border-radius: 2%;
}
label{
    font-size: large;
    display:inline-block;
    margin: 15px;
    background-color: aqua;
    padding: 8px;
    border-radius: 20%;
}

#submit{
    font-size: larger;
}

/* I'm still not sure what textarea is selecting on the pizza app. I used the same selector to see what was getting changed, and it updates my message box(which is a textarea instead of input text), but the pizza app didn't have a textarea that I could find.*/
input[type="text"], input[type="email"], textarea, select {
    width: 70%;
    border-radius: 20%;
    padding: 5px;
}
#text-box{
    height: 150px;
    width: 90%;
}
#message{
    display: inline-block;
    width: 80%;
}
#return{
    background-color: rgba(6, 121, 15, 0.87);
    padding: 15px;
    border-radius: 100%;
    color: white;
    float: right
}